body {
  margin: 0;
  display: grid;
  place-content: center;
  height: 100vh;
}

main {
  display: flex;
}

div {
  width: 200px;
  height: 200px;
}

#A {
  background-color: #0000cc;
}

#B {
  background-color: #dd0000;
}

#C {
  background-color: #00aa00;
}

#D {
  background-color: #FFcc00;
}