body {
  margin: 0;
  display: grid;
  place-content: center;
  height: 100vh;
  background-color: #efefef;
}

main {
  display: flex;
}

#key {
  width: 200px;
  height: 200px;
  background-color: #FFF;
  border: solid 3px #000;
}